<div class="row">
  <div class="col-md-5">
    <h2>Perdeu sua senha?</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :email, 'E-mail' %><br />
        <%= f.email_field :email, class: 'form-control', autofocus: true %>
      </div>

      <div class="form-group">
        <%= f.submit "Enviar instruções para redefinição de senha", class: 'btn btn-primary' %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>

  </div>
</div>
